/* 
    Author: Vijay Thapa;
    Theme: Food Order Website Admin;
    Version: 1.0;
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

/* CSS for Menu */
.menu{
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}
.menu ul li a:hover{
    color: #ff4757;
}

/* CSS for main-content */
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}


/* CSS for Footer */
.footer{
    background-color: #ff4757;
    color: white;
}